.App {
   min-height: 100vh;
   background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.error {
   display: flex;
   justify-content: center;
   align-items: center;
   color: red;
}

.searchForm {
   min-height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.searchBar {
   width: 50%;
   border: none;
   padding: 10px;
}

.searchButton {
   background: cornflowerblue;
   border: none;
   padding: 10px 20px;
   color: white;
}

.searchButton:hover {
   background: blue;
   color: white;
}

.recipes {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.recipeCard {
   border-radius: 10px;
   box-shadow: 0px 5px 20px rgb(71, 71, 71);
   margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   flex-wrap: wrap;
   background: white;
   align-items: center;
   min-width: 40%;
}
