body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  background-color: black !important;
  height: 1px;
  border: none;
}

.siteHeader {
  margin: auto;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  background-color: royalblue;
}

.navigation {
  margin: 15px 0px;
}

.link {
  padding: 5px;
  background-color: cadetblue;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 0px 5px;
}

.link:hover {
  color: black;
  background-color: cornflowerblue;
  cursor: pointer;
}

.sectionContent {
  padding: 5px;
}

.sectionHeader {
  text-align: center;
  background-color: darkcyan;
  margin: auto;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
}

.column {
  flex: 50%;
}

.row {
  display: flex;
}

.formInfo {
  padding: 10px;
  border: 1px solid black;
  width: 95%;
  background-color: white;
}

.formInfo input {
  margin: 10px 0px;
}

.submitBtn {
  padding: 5px;
  background-color: cadetblue;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 0px 5px;
}

.submitBtn:hover {
  color: black;
  background-color: lightgreen;
  cursor: pointer;
}

.removeBtn {
  padding: 5px;
  background-color: salmon;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 0px 5px;
}

.removeBtn:hover {
  color: black;
  background-color: red;
  cursor: pointer;
}

.owners,
.pets, .content {
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}

body {
  background-color: lightskyblue;
}
